@model HomeViewModel

@{
    ViewData["Title"] = "ASP.NET Mvc Toy App";
}

<h1>Employee</h1>
@await Html.PartialAsync("~/Views/Shared/_EmployeeFormPartial.cshtml", Model.EmployeeFormViewModel)

<br />

<h1>Employee List</h1>
@await Html.PartialAsync("/Views/Shared/_EmployeeTablePartial.cshtml", Model.EmployeeTableViewModel)



@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.css" />
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_SkillsAutoCompleteScriptsPartial");}
    @{await Html.RenderPartialAsync("_DeleteEmployeeModalScriptPartial");}
}
