/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
    color: white;
    text-shadow: 4px 4px 4px #aaa;
}
.navbar{
    background-color: #fbc687;
}

a {
    cursor: pointer;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.action-edit {
    color: green;
}

.action-delete {
    color: red;
}

h1 {
    color: #436f8a;
}

.control-label {
    color: #ea907a;
    font-size: 1.5em;
}

.form-control {
    color: #438a5e;
}

.form-control:focus {
    color: #438a5e;
}



.btn-primary {
    color: #fff;
    background-color: #e9a8a6;
    border-color: #e9a8a6;
}

.btn-primary:hover {
    color: #fff;
    background-color: #fbc687;
    border-color: #fbc687;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
    background-color: #aacdbe;
}


.bootstrap-tagsinput {
    display: block;
    height: calc(1.5em + .75rem + 2px);
}
